{% extends "mouse_cat/base.html" %}

{% load staticfiles %}

{% block content %}


<script type="text/javascript">

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$(document).ready(addDragDrop);

function addDragDrop() {
    $(document).on('dragover','.drop', function(e){
        e.preventDefault();
    });
    $(document).on('dragstart','.drag', function(e){
        e.originalEvent.dataTransfer.setData('object', e.target.id);
    });
    $(document).on('drop','.drop', function(e){
        e.preventDefault();
        var board = {{board}};
        var data = e.originalEvent.dataTransfer.getData('object');
        if ("{{game.mouse_user.id}}" == "{{request.user.id}}") {
            if (board[parseInt(data.split('_')[1], 10)][parseInt(data.split('_')[0], 10)] == -1){
                do_move(parseInt(data.split('_')[0], 10) +parseInt(data.split('_')[1], 10)*8, parseInt(e.target.id.split('_')[1], 10) +parseInt(e.target.id.split('_')[2], 10)*8);
                e.target.appendChild(document.getElementById(data));
                $(this).off('dragover drop');
            }
        } else {
            if ([1,2,3,4].includes(board[parseInt(data.split('_')[1], 10)][parseInt(data.split('_')[0], 10)])) {
                do_move(parseInt(data.split('_')[0], 10) +parseInt(data.split('_')[1], 10)*8, parseInt(e.target.id.split('_')[1], 10) +parseInt(e.target.id.split('_')[2], 10)*8);
                e.target.appendChild(document.getElementById(data));
                $(this).off('dragover drop');
            }
        }
    });
}
var loopTurn;
function do_move(o, t) {
    $.ajax({
    type: "POST",
    url: '{% url 'move' %}',
    token: csrftoken,
    data: {
        origin: o,
        target: t,
        action: 'post'
    },
    success: function (data) {
        $( "#chess_div").html('').load("{% url 'create_only_board' game_id=game.id %}");
        loopTurn = setInterval(checkTurn,2000);
        $( "#waiting").css("visibility", "visible");
        if ("{{game.mouse_user.id}}" == "{{request.user.id}}")
        {
            $( "#mouse_turn").css("visibility", "hidden");
            $( "#cat_turn").css("visibility", "visible");
        }
        else if ("{{game.mouse_user.id}}" != "{{request.user.id}}")
        {
            $( "#cat_turn").css("visibility", "hidden");
            $( "#mouse_turn").css("visibility", "visible");
        }
    }
    });
}


function checkTurn(){
        $.ajax({
            url: '{% url 'turn' game_id=game.id %}',
            token: csrftoken,
            type: 'post',
            success: function(response){
                if (response.turn == false && "{{game.mouse_user.id}}" == "{{request.user.id}}")
                {
                    clearInterval(loopTurn);
                    location.reload(true);
                    $( "#waiting").css("visibility", "hidden");
                    $( "#mouse_turn").css("visibility", "visible");
                    $( "#cat_turn").css("visibility", "hidden");
                }
                else if (response.turn == true && "{{game.mouse_user.id}}" != "{{request.user.id}}")
                {
                    clearInterval(loopTurn);
                    location.reload(true);
                    $( "#waiting").css("visibility", "hidden");
                    $( "#cat_turn").css("visibility", "visible");
                    $( "#mouse_turn").css("visibility", "hidden");
                }
            }
        });
    }

</script>


<div class="container-fluid text-center old_ratonGato">

  <div class="row content">
    <div class="col-sm-2 sidenav izquierda">
        Gato: <b>{{ game.cat_user.username }}</b>
        {% if game.cat_turn %}
            <div id="cat_turn" style="visibility: visible">TURNO DEL GATO</div>
        {% else %}
            <div id="cat_turn" style="visibility: hidden">TURNO DEL GATO</div>
        {% endif %}
        {% if game.mouse_user.id == request.user.id %}
            <div id="waiting" style="visibility: hidden">
                WAITING...
                <div class="gooey">
                  <span class="dot"></span>
                  <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
            </div>
        {% endif %}


    </div>

    <div id="chess_div" class="col-sm-8 text-left">
      {% include 'mouse_cat/board.html' %}
    </div>
    <div class="col-sm-2 sidenav derecha">
      <div class="well">
        Raton: <b>{{ game.mouse_user.username }}</b>
            {% if game.cat_turn %}
                <div id="mouse_turn" style="visibility: hidden">TURNO DEL RATON</div>
            {% else %}
                <div id="mouse_turn" style="visibility: visible">TURNO DEL RATON</div>
            {% endif %}
          {% if game.mouse_user.id != request.user.id %}
            <div id="waiting" style="visibility: hidden">
                WAITING...
                <div class="gooey">
                  <span class="dot"></span>
                  <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
            </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}