{% extends "mouse_cat/base.html" %}

{% load staticfiles %}

{% block content %}

<script src="{% static 'js/drag_and_drop.js' %}"></script>

<div class="container-fluid text-center old_ratonGato">
  <div class="row content">
    <div class="col-sm-2 sidenav izquierda">
      <form id="move_form" method="post" action="{% url 'move' %}">
        {% csrf_token %}
        <p>
            Cat: <b>{{ game.cat_user.username }}</b>
            {% if game.cat_user.id == request.user.id %}
                <blockquote class="cat">
                    {% if game.cat_turn %}
                        {{ move_form }}
                        <input type="submit" value="Move" />
                    {% else %}
                        Waiting for the mouse...
                        <a style="margin-left:20px;font-weight:normal" href="{% url 'show_game' %}">Refresh</a>
                    {% endif %}
                </blockquote>
            {% endif %}
        </p>
        <p>

            {% if game.mouse_user.id == request.user.id %}
                <blockquote class="mouse">
                    {% if not game.cat_turn %}
                        {{ move_form }}
                        <input type="submit" value="Move" />
                    {% else %}
                        Waiting for the cat...
                        <a style="margin-left:20px;font-weight:normal" href="{% url 'show_game' %}">Refresh</a>
                    {% endif %}
                </blockquote>
            {% endif %}
        </p>
    </form>
    </div>

    <div class="col-sm-8 text-left">
      {% if board %}
        {% static "" as baseUrl %}
        <table class="chess_board">
        {% for item in board %}
            {% if forloop.counter0|divisibleby:8 %}<tr>{% endif %}
            <td id="cell_{{ forloop.counter0}}" class="drop" style='width:20px;border:1px solid #a8a8a8;text-align:center;'>
                {% if item ==  0 %}
                .
                {% elif item == -1 %}
                    <img class="drag square_image" id="drag-main-{{item}}" draggable="true" src="{{ baseUrl }}/img/personajes/main.png" alt="Mouseimage">
                {% else %}
                    <img class="drag square_image" id="drag-{{item}}" draggable="true" src="{{ baseUrl }}/img/personajes/char{{item}}.png" alt="Catimage" class="square_image">
                {% endif %}
            </td>
            {% if forloop.counter|divisibleby:8 or forloop.last %}</tr>{% endif %}
        {% endfor %}
        </table>
    {% endif %}
    </div>
    <div class="col-sm-2 sidenav derecha">
      <div class="well">
        Mouse: <b>{{ game.mouse_user.username }}</b>
      </div>
    </div>
  </div>
    <p>Game: <b>{{ game.id }}</b></p>
</div>

{% endblock content %}