{% extends "mouse_cat/base.html" %}

{% block content %}
<div id="content" class="old_ratonGato">
    <h1>Game: {{ game.id }}</h1>

    Cats: <b>{{ game.cat_user.username }}</b>
    Mouse: <b>{{ game.mouse_user.username }}</b>
    Winner: <b>{{ winner }}</b>

    {% if board %}
        <p>Board: {{ board }}</p>
        <table id="chess_board">
        {% for item in board %}
            {% if forloop.counter0|divisibleby:8 %}<tr>{% endif %}
            <td id="cell_{{ forloop.counter0}}" style='width:20px;border:1px solid #000000;text-align:center;'>
                {% if item ==  0 %}   x
                {% elif item == 1 %}  &#9922;
                {% else %}  &#9920; {% endif %}
            </td>
            {% if forloop.counter|divisibleby:8 or forloop.last %}</tr>{% endif %}
        {% endfor %}
        </table>
    {% endif %}
    <p><a href="{% url 'landing' %}">Return to homepage</a></p>
</div>
{% endblock content %}