{% extends "mouse_cat/base.html" %}

{% block content %}
<!--
<script type="text/javascript">
    function play(){
        alert ("ola");
        return false;
    }
</script>
-->

<div id="content" class="old_ratonGato">
    <h1>Game: {{ game.id }}</h1>

    Cats: <b>{{ game.cat_user.username }}</b>
    Mouse: <b>{{ game.mouse_user.username }}</b>
    {% if winner %}
        Ganador: <b>{{ winner }}</b>
    {% endif %}

    {% if board %}
    <div id="chess_div" class="">
      {% include 'mouse_cat/board.html' %}
    </div>
    {% endif %}

        <form action="{% url 'reproduce_game' %}" method="POST">
        {% csrf_token %}
        <label><b>Movimiento: </b></label>

        <label>Next</label>
        <input name="Movimiento" type="radio" value="1">

        <label>Previous</label>
        <input name="Movimiento" type="radio" value="-1">

        <label>Play</label>
        <input name="Movimiento" type="radio" value="3">

        <button type="submit" onsubmit="return play"><b>Send</b></button>
        </form>
    <p><a href="{% url 'landing' %}">Return to homepage</a></p>
</div>
{% endblock content %}