{% extends "mouse_cat/base.html" %}

{% block content %}
<div id="content" class="old_ratonGato">
    {% if not games_as_cat and not games_as_mouse %}
        No hay partidas disponibles
    {% else %}
    <h1>Select game</h1>
    <div class=main-select>
        <table class=tabla-juegos>
        <thead>
            <tr>
                <th>Usuario gato</th>
                <th>Usuario raton</th>
                <th>Id juego</th>
                <th>Turno actual</th>
                <th>Jugar</th>
            </tr>
        </thead>
        {% if games_as_cat %}
            {% for game in games_as_cat %}
                <tr>
                    <td>{{game.cat_user}}</td>
                    <td>{{game.mouse_user}}</td>
                    <td>{{game.id}}</td>
                    {% if game.cat_turn == True %}
                        <td>Turno gato</td>
                    {% else %}
                        <td>Turno raton</td>
                    {% endif %}
                    <td><a href="{% url 'select_game' type=1 game_id=game.id %}"><img src="/static/img/gato.png" alt="Catimage" class="imagestylesmall"></a></td>
                </tr>
            {% endfor %}
        {% endif %}
        {% if games_as_mouse %}
            {% for game in games_as_mouse %}
                <tr>
                    <td>{{game.cat_user}}</td>
                    <td>{{game.mouse_user}}</td>
                    <td>{{game.id}}</td>
                    {% if game.cat_turn == True %}
                        <td>Turno gato</td>
                    {% else %}
                        <td>Turno raton</td>
                    {% endif %}
                    <td><a href="{% url 'select_game' type=1 game_id=game.id %}"><img src="/static/img/raton.png" alt="Mouseimage" class="imagestylesmall"></a></td>

                </tr>
            {% endfor %}
        {% endif %}
        </table>
    </div>
    {% endif %}
    <p><a href="{% url 'landing' %}">Return to homepage</a></p>
</div>
{% endblock content %}
